#show-order, #contact-delivery {
  display: none;
}

body {
  background-color: #ecf9ec;
;
}

button {
  margin: 35px;
}

.jumbotron {
  background-image: url(../img/vpnplain.jpg);
  margin-bottom: 30px;
  background-position: 0% 30%;
  background-size: cover;
  color: white;
  text-shadow: black 0.4em 0.4em 0.4em;
}

p {
  font-size: 1.5em;
}

.form-group {
  font-size: 1.3em;
  font-weight: bold;
}
